rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if false;
    }
     match /users/{user}{
      allow read,write;
    }
     match /environments/{environments}{
      allow read,write;
    }
     match /env/{environments}{
      allow read,write;
    }
      match /env/{environments}/{game}{
      allow read,write;
    }
    match /env/{environments}/{game}/{models}{
      allow read,write;
    }
  }
}